!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= site.title
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %meta{ :name=>'description', :content=>site.description }
    %meta{ :name=>'keywords', :content=>site.keywords }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/styles.css' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href=>'/' } Project Name
          %ul.nav
            %li
              %a{ :href=>'/' } Home
    .container
      ~ content
      %hr
      %footer
        %p &copy; Organization #{Date.today.year}
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
